@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
.navbar
	border-bottom: 1px solid #cbcbcb
.menu_wrap
	padding: 10px 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	
	ul
		list-style-type: none
		display: flex
		margin: 0
		padding: 0
		li
			padding: 5px 20px
			a
				text-decoration: none
				color: #363636
				transition: .5s all
				&:hover
					color: #c82425

		.menu_blog
			border: 1px solid #c82425
			border-radius: 7px
			transition: .5s all
			a
				color: #c82425
				&:hover
					color: #363636
					.menu_blog
						border: 1px solid #363636
	.menu_nav
		flex-grow: 2
	.top_logo
		flex-grow: 1
.main_page
	position: relative
	background-image: url("../img/main_img.png")
	background-size: 550px 500px
	background-repeat: no-repeat
	background-position: -210px -200px
	height: 500px
	z-index: 0
	.main_broker
		position: absolute
		right: 15px
		top: 0
		background-color: #000
		color: #fff
		padding: 10px
		font-size: 14px
		text-align: center
		letter-spacing: 1px
		min-width: 185px
		img
			//padding-right: 5px
			float: left
		p
			margin: 8px 0
	.main_title
		text-align: center
		margin-top: 150px
		color: #363636
		h1
			letter-spacing: 1px
			font-size: 50px
			font-weight: 300
			line-height: 1.1
		p
			margin: 0
	.main_descr
		width: 55%
		margin-left: 15%
		font-size: 14px
		z-index: 20
	.main_btn
		float: right
.main_btn
	display: inline-block
	background-color: #ea2d2e
	padding: 10px 25px
	border-radius: 5px
	margin-top: 30px
	a
		color: #fff
		text-decoration: none
		font-size: 14px
		letter-spacing: 1px
		&:hover
			color: #bdbdbd
.main_bg_2
	background-image: url("../img/main_img2.png")
	background-size: 650px 500px
	background-repeat: no-repeat
	z-index: 99
	background-position: right -130px top -40px
	.bg_wrap
		padding-top: 200px
		.main_title
			h2
				font-size: 46px
				font-weight: 300
				margin-left: 15%
				line-height: 1.1
				p
					margin: 0
		.main_descr
			width: 50%
			margin-left: 15%
		.main_btn
			margin-left: 15%
			padding: 10px 55px
		
			


@import "media"
